src/main/resources/schema.dtd

<!ELEMENT catalog (book)>
        <!ELEMENT book (author,title,genre,price,publish_date,description)>
        <!ATTLIST book id CDATA "id">
        <!ELEMENT author (#PCDATA)>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT genre (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
        <!ELEMENT publish_date (#PCDATA)>
        <!ELEMENT description (#PCDATA)>